body {
  /*background: #fff url(https://s17.postimg.org/8kd73xzvz/ubm_like_bg.jpg) no-repeat;*/
  background: #fff url(https://s9.postimg.org/pan28nkjz/ubm_like_bg1.jpg) no-repeat;
  font: 0.75em Arial,Helvetica,Verdana;
  color: #58585a;
  line-height: 1.3;
}
