body {
  background: #fff url(http://s13.postimg.org/qoez0pp8n/ubm_like_bg1.jpg) center 15px no-repeat;
  background-size: cover;
  font: 0.75em Arial,Helvetica,Verdana;
  color: #58585a;
  line-height: 1.3;
}

h3 {
  color: white;
  margin-top: 0px;
}

nav li a{
  font-size: 1.5em;
}

#menu_bar {
  width: 100%; 
  margin: 20px auto; 
  color: white; 
}

#thumbs_container {
  width:970px; 
  margin-top: 20px;
}

.thumb_column {
  padding-right: 0px;
  padding-left: 0px;
}

.thumb_container {
  width: 150px; 
  margin: 0 auto;
}

/*for logo*/

.logo_circle {
  fill: white;
  stroke: #00475b;
  stroke-width: 1px;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.logo_circle, .d, .o, .n {
  stroke-miterlimit: 10;
}

.d, .o, .n {
  fill: #004c94;
  stroke: #004c94;
}

.filled_circle {
  fill: #00475b;
  stroke-width: 0px;
  stroke-dashoffset: 0;
}
