{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the image database:</p>

<ul>
{% for i in imageTableRows %}
  <li> {{ dump(i)}} </li>
{% else %}
  <li>No rows!</li>
{% endfor %}
</ul>

<hr>

<ul>
{% for v in venues %}
  <li> {{ dump(v)}} </li>
{% else %}
  <li>No rows!</li>
{% endfor %}
</ul>

{% endblock %}