{% extends "layout.html" %}

{% block content %}
<div class="container">
  <button id='button'>callapi</button>
  <div class='.results'></div>
  <div class='row'>

    <div class='col-sm-offset-1 col-sm-1'>
    
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.69 119.02">
        <defs>
          <style>
            .cls-1 {
              fill: #00475b;
              stroke: #00475b;
            }

            .cls-1, .cls-2 {
              stroke-miterlimit: 10;
            }

            .cls-2 {
              fill: #004c94;
              stroke: #004c94;
            }
          </style>
        </defs>
        <title>DonUbmLogo</title>
        <circle class="cls-1" cx="25.03" cy="40.22" r="7.3"/>
        <circle class="cls-1" cx="61.77" cy="40.64" r="7.15"/>
        <circle class="cls-1" cx="25.03" cy="58.84" r="7.43"/>
        <circle class="cls-1" cx="59.35" cy="57.1" r="6.69"/>
        <circle class="cls-1" cx="25.03" cy="21.6" r="7.56"/>
        <circle class="cls-1" cx="58.93" cy="24.19" r="6.97"/>
        <circle class="cls-1" cx="401.88" cy="136.4" r="4.45" transform="translate(-385.53 27.23) rotate(-21.65)"/>
        <circle class="cls-1" cx="25.03" cy="75.04" r="5.29"/>
        <circle class="cls-1" cx="50.13" cy="69.76" r="4.64"/>
        <circle class="cls-1" cx="49.9" cy="11.68" r="5.29"/>
        <circle class="cls-1" cx="25.03" cy="5.79" r="5.29"/>
        <circle class="cls-1" cx="38.51" cy="75.11" r="4.28"/>
        <g>
          <path class="cls-2" d="M364.06,248.28V218.15h8.33q6.08,0,8.89,1.65a11,11,0,0,1,4.4,5,19.44,19.44,0,0,1,1.58,8.26,20.08,20.08,0,0,1-1.43,7.91,11.89,11.89,0,0,1-4.32,5.31q-2.89,2-8.58,2h-8.87ZM368,245h4.63a12.79,12.79,0,0,0,6.25-1.21,7.75,7.75,0,0,0,3.23-3.81,16.54,16.54,0,0,0,1.12-6.52,19.94,19.94,0,0,0-1-6.75,8,8,0,0,0-3.11-4.17q-2.09-1.34-6.56-1.34H368V245Z" transform="translate(-363.56 -130.68)"/>
          <path class="cls-2" d="M402.74,249.2a11.6,11.6,0,0,1-9.22-4.16q-3.57-4.15-3.57-11.82t3.57-11.82a12.34,12.34,0,0,1,18.46,0q3.58,4.15,3.58,11.82T412,245A11.63,11.63,0,0,1,402.74,249.2Zm0-3a7.28,7.28,0,0,0,6.43-3.55q2.31-3.55,2.31-9.42t-2.31-9.4a7.59,7.59,0,0,0-12.86,0q-2.32,3.56-2.32,9.4t2.32,9.42A7.29,7.29,0,0,0,402.75,246.19Z" transform="translate(-363.56 -130.68)"/>
          <path class="cls-2" d="M422.91,248.28H419.3V218.15h3.88L437,239.56l1.26,2.39-0.08-2.37V218.15h3.61v30.14h-3.84l-13.81-21.51-1.26-2.43,0.08,2.43v21.51Z" transform="translate(-363.56 -130.68)"/>
        </g>
      </svg>
    </div>

    <div class='col-sm-9' style='background-color: blue; text-align: center;'>
      <div id='menu_bar'>
        I will eventually be the 'nav'
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-9 main_section" style='width: 970px; min-width: 970px;'>
      
      <div id='viewport'>
        <img src='http://s12.postimg.org/4h21ri80d/pro_pic.jpg'>
      </div>

      <div id='thumbs_container'>
        

        <div class='col-sm-2 thumb_column'>
          <!-- each thumb container needs a 'data-pic' attr that holds the url for the viewport active pic -->
          <div class='thumb_container' id='thumb_1'>
            <img src=<%{{images[0].thumb_url}}%>>
            <div style='background-color: blue;'><h3>Professional</h3></div> <!-- these keywords should be stored in the db with the picture urls. maybe the background color too?-->
          </div>
        </div>

        <div class='col-sm-2 thumb_column'>
          <div class='thumb_container' id='thumb_2'>
            <img src='http://s15.postimg.org/7z14rs17f/reliable_pic_thumb.jpg'>
            <div style='background-color: red;'><h3>Reliable</h3></div>
          </div>
        </div>
        <div class='col-sm-2 thumb_column'>
          <div class='thumb_container' id='thumb_2'>
            <img src='http://s15.postimg.org/arucbt1jv/helpful_pic_thumb.jpg'>
            <div style='background-color: yellow;'><h3>Helpful</h3></div>
          </div>
        </div>
        <div class='col-sm-2 thumb_column'>
          <div class='thumb_container' id='thumb_4'>
            <img src='http://s15.postimg.org/xdznojfa3/bold_pic_thumb.jpg'>
            <div style='background-color: orange;'><h3>Bold</h3></div>
          </div>
        </div>
        <div class='col-sm-2 thumb_column'>
          <div class='thumb_container' id='thumb_5'>
            <img src='http://s15.postimg.org/w080t8g0r/fun_pic_thumb.jpg'>
            <div style='background-color: purple;'><h3>Fun</h3></div>
          </div>
        </div>
        <div class='col-sm-2 thumb_column'>
          <div class='thumb_container' id='thumb_6'>
            <img src='http://s21.postimg.org/tfewij9rr/local_pic_thumb.jpg'>
            <div style='background-color: green;'><h3>Local</h3></div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- row -->

</div>

{% endblock %}
